{% extends "base.html" %} {% block title %}Devices{% endblock %} {% block head
%} {{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>

{% endblock %} {% block content %}

<div class="row grid-responsive">
  <div class="column">
    <div class="card">
      <div class="card-title">
        <h3>Devices</h3>
      </div>
      <div class="card-block">
        <table>
          <thead>
            <tr>
              <th>DevEUI</th>
            </tr>
          </thead>
          <tbody>
            {% for device in devices: %}
            <tr>
              <td><a href="/device/{{ device }}">{{ device }}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
