{% extends "base.html" %} {% block title %}Gateways{% endblock %} {% block head
%} {{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>

{% endblock %} {% block content %}

<div class="row grid-responsive">
  <div class="column">
    <div class="card">
      <div class="card-title">
        <h3>Gateways</h3>
      </div>
      <div class="card-block">
        <table>
          <thead>
            <tr>
              <th>Gateway EUI</th>
              <th>UUID</th>
              <th>V1.0</th>
              <th>IP ADDR</th>
              <th>HW VERSION</th>
              <th>FW_VERSION</th>
            </tr>
          </thead>
          <tbody>
            {% for eui, uuid, has_app, ip_addr, hw_ver, fw_ver in gateways: %}
            <tr>
              <td>{{ eui }}</td>
              <td>{{ uuid }}</td>
              <td>{{ has_app }}</td>
              <td>{{ ip_addr }}</td>
              <td>{{ hw_ver }}</td>
              <td>{{ fw_ver }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
