{% extends "base.html" %}
{% block title %}Queue Downlink{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>


<script lang="javascript">

    function update_mqtt() {
        console.log("sending http request")
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            // console.log(this.responseText);
            $('#mqtt_table tr').remove();
            var data = JSON.parse(this.responseText)

            for (var msg in data["messages"]) {
                var message = data["messages"][msg];
                $('#mqtt_table').append('<tr><td>' + message.topic + '</td><td>' + JSON.stringify(message.payload, null, 1) + '</td></tr>');
            }
        }
        xhttp.open("GET", "/api/mqtt", true);
        xhttp.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
        xhttp.send();
    }

    setInterval(update_mqtt, 5000);

</script>
{% endblock %}
{% block content %}

<div class="row grid-responsive">
    <div class="column">
        <div class="card">
            <div class="card-title">
                <h3>MQTT Connected: {{ mqtt_status.connected }}</h3>
            </div>
            <div class="card-block">

                <table>
                    <thead>
                        <tr>
                            <th>Topic</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody id="mqtt_table">
                        {% for message in mqtt_status.messages: %}
                        <tr>
                            <td>{{ message.topic }}
                            <td>{{ message.payload }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                </ul>

            </div>
        </div>
    </div>
</div>

{% endblock %}